#image {
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: right;
    gap: 5px;
}

.links a {
    text-decoration: none;
    color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.links svg {
    width: 20px;
    height: 20px;
    fill: darkgray;
    vertical-align: middle;
}

.links a:hover {
    text-decoration: underline;
    color: rgb(90, 90, 90);
}

.small-logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}

.small-logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.logo img {
    width: 375px;
    height: auto;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input[type="text"] {
    width: 40%;
    height: auto;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    color: #3c4043;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.buttons input[type="submit"]:hover {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

