#image {
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: right;
    gap: 5px;
}

.links a {
    text-decoration: none;
    color: darkgray;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.links svg {
    width: 20px;
    height: 20px;
    fill: darkgray;
    vertical-align: middle;
}

.links a:hover {
    text-decoration: underline;
    color: rgb(90, 90, 90);
}

.small-logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}

.small-logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.logo img {
    width: 375px;
    height: auto;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input[type="text"] {
    width: 40%;
    height: auto;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    color: #3c4043;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.buttons input[type="submit"]:hover {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

#advanced-title {
    text-align: left;
    font-family: Arial, sans-serif;
    color: #d93025;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
    border-bottom: 1px solid #a1a1a1;
}

#advanced-top {
    font-size: 1.1rem;
    color: #393b3b;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

.advanced-search-form {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
}

.advanced-search-form label {
    display: inline-block;
    width: 200px;
    font-size: 0.85rem;
    color: #5f6368;
}

.advanced-search-form input[type="text"] {
    width: 50%;
    padding: 8px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    outline: none;
}

.advanced-search-button {
    display: flex;
    justify-content: flex-end;
    margin-left: 35px;
    margin-top: 10px;
}

.advanced-search-button button {
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    border: 1px solid #3079ed;
    border-radius: 2px;
    background-color: #4d90fe;
    cursor: pointer;
}

.advanced-search-button button:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
}

